
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="resources/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="resources/vendor/raphael/raphael.min.js"></script>
    <script src="resources/vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../resources/js/sb-admin-2.js"></script>
    
    <script type="text/javascript" src="datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

</body>

</html>
