<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PATRA Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="resources/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="resources/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="resources/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet/less" type="text/css" href="bootstrap-timepicker/css/timepicker.less" />

    <link href="chosen/chosen.css" rel="stylesheet" type="text/css">

    <link href="fancybox/dist/jquery.fancybox.min.css" rel="stylesheet" type="text/css">

    <script src="resources/vendor/jquery/jquery.min.js"></script>

    <script src="less/dist/less.min.js"></script>

    <script src="underscore/underscore-min.js"></script>

    <script src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    
    <script src="moment/min/moment-with-locales.min.js"></script>
    
    <script src="chosen/chosen.jquery.js"></script>

    <script src="fancybox/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="resources/ckeditor/ckeditor.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"> <img src="/resources/logo.png" width="45px" style="float:left;margin-right:10px;margin-top: -13px;" /> PATRA Admin</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/data-pengguna"><i class="fa fa-users fa-fw"></i> Pengguna</a>
                        </li>
                        <li>
                            <a href="/jadwal-kuliah"><i class="fa fa-table fa-fw"></i> Jadwal Kuliah</a>
                        </li>
                        <li>
                            <a href="/tugas-mingguan"><i class="fa fa-book fa-fw"></i> Tugas Mingguan</a>
                        </li>   
                        <li>
                            <a href="/kegiatan-patra"><i class="fa fa-calendar-check-o fa-fw"></i> Kegiatan PATRA</a>
                        </li>
                        <li>
                            <a href="/karya"><i class="fa fa-bars fa-fw"></i> Karya PATRA</a>
                        </li>
                        <li>
                            <a href="/informasi-bulanan"><i class="fa fa-calendar-o fa-fw"></i> Informasi Bulanan</a>
                        </li>
                        <li>
                            <a href="/arsip-data"><i class="fa fa-file fa-fw"></i> Arsip Data</a>
                        </li>
                        <li>
                            <a href="/aspirasi"><i class="fa fa-bullhorn fa-fw"></i> Aspirasi</a>
                        </li>   
                        <li>
                            <a href="/kuisioner"><i class="fa fa-edit fa-fw"></i> Kuisioner</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gears fa-fw"></i> Pengaturan<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/settings">Settings</a>
                                </li>
                                <li>
                                    <a href="#">Data Referensi <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/matakuliah">Data Matakuliah</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
