<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th width="10px">No</th>
                                <th>Tentang</th>
                                <th>Aspirasi</th>
                                <th>Pengirim</th>   
                                <th>Tanggal</th>
                                <th width="30px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td><%= data.data[an].judul %></td>
                                    <td>
                                        <%- shorten(data.data[an].html_detail, 50) %> ... 
                                        <button class="btn btn-default btn-xs" onclick="_show_detail(this)">
                                            ...
                                            <div style="display:none" id="rowContent">
                                            <%- data.data[an].html_detail %>
                                            </div>
                                        </button>
                                    </td>
                                    <td><%= data.data[an].kontak %></td>
                                    <td><%= data.data[an].tanggal %></td>
                                    <td align="center">
                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [5];
            var dtModule = '<%= data.module %>';
            var ckActive = true;
            // var ckField = 'detail';
            // CKEDITOR.replace('detail', {});
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>