<%- include ../top.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post" class="form-inline">
                                <label class="col-md-2">Jadwal Angkatan</label>
                                <div class="col-md-2">
                                    <select name="filterangkatan" class="form-control" placeholder="Pilih angkatan">
                                        <% for(th in data.angkatan){ %>
                                        <option <%= (data.angkatan[th]==data.default_angkatan) ? 'selected':'' %> ><%= data.angkatan[th] %></option>
                                        <% } %>
                                    </select>
                                </div>

                                <div class="col-md-1">
                                    <button class="btn btn-success">Tampil</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th>Senin</th>
                                <th>Selasa</th>
                                <th>Rabu</th>
                                <th>Kamis</th>
                                <th>Jumat</th>
                                <!-- <th>Sabtu</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        <% 
                            for(row=0; row<data.max_hari; row++){ 
                        %>
                        <tr>
                            <% 
                                senin = data.data['senin']==undefined ? undefined : data.data['senin'][row];
                                selasa = data.data['selasa']==undefined ? undefined : data.data['selasa'][row];
                                rabu = data.data['rabu']==undefined ? undefined : data.data['rabu'][row];
                                kamis = data.data['kamis']==undefined ? undefined : data.data['kamis'][row];
                                jumat = data.data['jumat']==undefined ? undefined : data.data['jumat'][row];
                                sabtu = data.data['sabtu']==undefined ? undefined : data.data['sabtu'][row];
                                if(senin!=undefined){
                            %>
                            <td>
                                <p><%= senin.matakuliah %></p>
                                <p><%= senin.jam_mulai +' - '+ senin.jam_selesai %></p>
                                <p><%= senin.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(senin) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(senin) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <td></td>
                            <% } %>

                            <% if(selasa!=undefined){ %>
                            <td>
                                <p><%= selasa.matakuliah %></p>
                                <p><%= selasa.jam_mulai +' - '+ selasa.jam_selesai %></p>
                                <p><%= selasa.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(selasa) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(selasa) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <td></td>
                            <% } %>

                            <% if(rabu!=undefined){ %>
                            <td>
                                <p><%= rabu.matakuliah %></p>
                                <p><%= rabu.jam_mulai +' - '+ rabu.jam_selesai %></p>
                                <p><%= rabu.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(rabu) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(rabu) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <td></td>
                            <% } %>

                            <% if(kamis!=undefined){ %>
                            <td>
                                <p><%= kamis.matakuliah %></p>
                                <p><%= kamis.jam_mulai +' - '+ kamis.jam_selesai %></p>
                                <p><%= kamis.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(kamis) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(kamis) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <td></td>
                            <% } %>

                            <% if(jumat!=undefined){ %>
                            <td>
                                <p><%= jumat.matakuliah %></p>
                                <p><%= jumat.jam_mulai +' - '+ jumat.jam_selesai %></p>
                                <p><%= jumat.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(jumat) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(jumat) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <td></td>
                            <% } %>

                            <% if(false){ %>
                            <td>
                                <p><%= sabtu.matakuliah %></p>
                                <p><%= sabtu.jam_mulai +' - '+ sabtu.jam_selesai %></p>
                                <p><%= sabtu.nama_dosen %></p>
                                <button data-detail='<%= JSON.stringify(sabtu) %>' class="btn btn-xs btn-danger pull-right" title="Hapus data" onclick="action_delete(this)"> <span class="fa fa-remove"></span> </button>
                                <button data-detail='<%= JSON.stringify(sabtu) %>' class="btn btn-xs btn-warning pull-right" style="margin-right: 5px;" title="Edit data" data-toggle="modal" data-target="#form"> <span class="fa fa-edit"></span> </button>
                            </td>
                            <% }else{ %>
                            <!-- <td></td> -->
                            <% } %>
                            
                        </tr>
                        <% 
                            } 
                        %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Angkatan</label>
                                <div class="col-md-4">
                                    <select name="angkatan" class="form-control" placeholder="Pilih angkatan">
                                        <% for(th in data.angkatan){ %>
                                        <option><%= data.angkatan[th] %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Hari</label>
                                <div class="col-md-9">
                                    <select name="hari" class="form-control" placeholder="Pilih hari">
                                        <option value="senin">Senin</option>
                                        <option value="selasa">Selasa</option>
                                        <option value="rabu">Rabu</option>
                                        <option value="kamis">Kamis</option>
                                        <option value="jumat">Jumat</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Jam mulai</label>
                                <div class="col-md-5">
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="timepicker1" type="text" class="form-control input-small" name="jam_mulai">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Jam selesai</label>
                                <div class="col-md-5">
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="timepicker2" type="text" class="form-control input-small" name="jam_selesai">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Matakuliah</label>
                                <div class="col-md-9">
                                    <select name="matakuliahRef" class="form-control" placeholder="Matakuliah">
                                        <% for(fi in data.matakuliah){ %>
                                        <option value="<%= data.matakuliah[fi]._id %>"><%= data.matakuliah[fi].kode +' - '+ data.matakuliah[fi].matakuliah +' ('+ data.matakuliah[fi].dosen +')' %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [];
            var dtModule = '<%= data.module %>';
            var ckActive = false;
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>