<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th width="10px">No</th>
                                <th width="200px">Nama Kegiatan</th>
                                <th>Deskripsi</th>
                                <th>Pelaksanaan</th>   
                                <th>Penanggungjawab</th>
                                <th>Kehadiran</th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td>
                                        <%= data.data[an].nama %>
                                        <% if(data.data[an].gambar){ %>
                                        <a id="gambar" href="kegiatan/<%= data.data[an].gambar %>"><img src="kegiatan/<%= data.data[an].gambar %>" style="float:right;height: 70px;"/></a>
                                        <% } %>
                                    </td>
                                    <td>
                                        <%- shorten(data.data[an].html_deskripsi, 50) %> ... 
                                        <button class="btn btn-default btn-xs" onclick="_show_detail(this)">
                                            ...
                                            <div style="display:none" id="rowContent">
                                            <%- data.data[an].html_deskripsi %>
                                            </div>
                                        </button>
                                    </td>
                                    <td><%= data.data[an].pelaksanaan %>
                                        <% if(data.data[an].sampai!=null && data.data[an].sampai.length>0){ %>
                                         sampai dengan <%= data.data[an].sampai %>
                                        <% } %>
                                    </td>
                                    <td><%= data.data[an].kontak %></td>
                                    <td align="center">
                                        <small><%= data.data[an].yes %> yes</small> <br/>
                                        <small><%= data.data[an].no %> no</small> <br/>
                                        <small><%= data.data[an].maybe %> maybe</small>
                                    </td>
                                    <td align="center">
                                        <script type="text/javascript">
                                            if(window.rowDetail==undefined)
                                                window.rowDetail = new Array;
                                            window.rowDetail[<%= an %>] = <%- JSON.stringify(data.data[an]) %>;
                                        </script>

                                        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#formKehadiran" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Kehadiran"> <span class="fa fa-users"></span> </button> &nbsp; 

                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-row="<%= an %>" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 

                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this,<%= an %>)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="formKehadiran" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:80%">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="dataAttendance" width="100%" class="table table-bordered">
                                    <thead>
                                        <th>No</th>
                                        <th>Nomor Induk</th>
                                        <th>Nama</th>
                                        <th>Jenis Kelamin</th>
                                        <th>Konfirmasi</th>
                                        <th>Tanggal Konfirmasi</th>
                                        <th>Photo</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:80%">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save" enctype="multipart/form-data">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Nama kegiatan</label>
                                <div class="col-md-9">
                                    <input type="text" name="nama" placeholder="Nama kegiatan" required="true" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Deskripsi</label>
                                <div class="col-md-9">
                                    <textarea name="deskripsi" placeholder="Deskripsi kegiatan" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Tanggal</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control" name="pelaksanaan" placeholder="Tanggal pelaksanaan" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Sampai dengan</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" class="form-control" name="sampai" placeholder="Tanggal selesai" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-md-3">Penanggungjawab</label>
                                <div class="col-md-9">
                                    <select name="kontakRef" class="form-control" placeholder="Kode">
                                        <option></option>
                                        <% for(fi in data.penanggungjawab){ %>
                                        <option value="<%= data.penanggungjawab[fi]._id %>"><%= data.penanggungjawab[fi].ni +' - '+ data.penanggungjawab[fi].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Image</label>
                                <div class="col-md-9">
                                    <input type="file" name="gambar" placeholder="Image" class="form-control" accept="images/*" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [6];
            var dtModule = '<%= data.module %>';
            var ckActive = true;
            var ckField = 'deskripsi';
            CKEDITOR.replace('deskripsi', {});

            var DTable;

            $(document).ready(function(){
                $('a#gambar').fancybox({
                    padding : 0,
                    openEffect  : 'elastic'
                });

                $('#formKehadiran').on('shown.bs.modal', function (e) {
                    var b = $(e.relatedTarget);
                    var detail = b.data('detail');
                    $('#dataAttendance').dataTable().fnDestroy();
                    $('#dataAttendance').dataTable({
                        "dom": 'rt<"bottom"><"clear">',
                        "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [0,1,2,3,4,5,6] },
                            {
                                "targets": [0],
                                "data": "no",
                                "render": function ( data, type, row, meta ) {
                                    return data;
                                }
                            },
                            {
                                "targets": [1],
                                "data": "ni",
                                "render": function ( data, type, row, meta ) {
                                    return data;
                                }
                            },
                            {
                                "targets": [2],
                                "data": "name",
                                "render": function ( data, type, row, meta ) {
                                    return data;
                                }
                            },
                            {
                                "targets": [3],
                                "data": "gender",
                                "render": function ( data, type, row, meta ) {
                                    return data=='lk'?'Pria':'Wanita';
                                }
                            },
                            {
                                "targets": [4],
                                "data": "status",
                                "render": function ( data, type, row, meta ) {
                                    if(data=='yes')
                                        return '<font color="green">yes</font>';
                                    if(data=='no')
                                        return '<font color="red">no</font>';
                                    if(data=='maybe')
                                        return '<font color="black">maybe</font>';
                                }
                            },
                            {
                                "targets": [5],
                                "data": "date",
                                "render": function ( data, type, row, meta ) {
                                    return data;
                                }
                            },
                            {
                                "targets": [6],
                                "data": "photo",
                                "render": function ( data, type, row, meta ) {
                                    return '<img src="profile/' +data+ '" width="70px"/>';
                                }
                            }
                        ],
                        "aaSorting": [],
                        "sServerMethod": "POST",
                        "iDisplayLength": 1,
                        "bJQueryUI": true,
                        "bRetrieve": true,
                        "bPaginate": true,
                        "bStateSave": false,
                        "processing": true,
                        "serverSide": true,
                        // "ajax": "/kegiatan-patra/attendance",
                        "ajax": {
                            "url": "/kegiatan-patra/attendance",
                            "data": function ( d ) {
                                d.ids = detail._id;
                            }
                        }
                    });
                });
            });
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>