<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th width="10px">No</th>
                                <th>Judul</th>
                                <th>Deskripsi</th>
                                <th>Dibuat</th>   
                                <th width="220px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td>
                                        <%= data.data[an].judul %>
                                        <% if(data.data[an].gambar){ %>
                                        <a id="gambar" href="kuis/<%= data.data[an].gambar %>"><img src="kuis/<%= data.data[an].gambar %>" style="float:right;height: 70px;"/></a>
                                        <% } %>
                                    </td>
                                    <td>
                                        <%- shorten(data.data[an].html_deskripsi, 50) %> ... 
                                        <button class="btn btn-default btn-xs" onclick="_show_detail(this)">
                                            ...
                                            <div style="display:none" id="rowContent">
                                            <%- data.data[an].html_deskripsi %>
                                            </div>
                                        </button>
                                    </td>
                                    <td><%= data.data[an].tanggal %></td>
                                    <td align="center">
                                        <a class="btn btn-xs btn-default" title="Hasil kuisioner" href="kuisioner-result?ids=<%= data.data[an]._id %>"> <span class="fa fa-users"></span> </a> &nbsp; 

                                        <button class="btn <%= data.data[an].btncol %> btn-xs" onclick="action_kuisioner_status(this)" data-id='<%= data.data[an]._id %>' data-status='<%= data.data[an].status %>' title="Status"> 
                                        	<%= data.data[an].status %>
                                        </button> &nbsp; 
                                        <button class="btn btn-default btn-xs" onclick="get_detail('<%= data.data[an]._id  %>', this)" > <span class="fa fa-bars"></span> detail</button> &nbsp; 
                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 
                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah Kuisioner</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" id="contentDetail" style="margin-top:20px;">
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save" enctype="multipart/form-data">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Judul</label>
                                <div class="col-md-9">
                                    <input type="text" name="judul" placeholder="Judul kuisioner" required="true" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Deskripsi</label>
                                <div class="col-md-9">
                                    <textarea name="deskripsi" placeholder="Deskripsi kuisioner" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Image</label>
                                <div class="col-md-9">
                                    <input type="file" name="gambar" placeholder="Image" class="form-control" accept="images/*" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="kuisStatus" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Status</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="<%= data.module %>/status" class="form-horizontal">
	                        <div class="form-group">
	                        	<input type="hidden" name="id" id="tid"/>
	                            <button class="btn btn-warning col-md-4" id="bClose" name="status" value="close">Close</button>
	                            <button class="btn btn-success col-md-4" id="bOpen" name="status" value="open">Open</button>
	                            <button class="btn btn-danger col-md-4" id="bLock" name="status" value="lock">Lock</button>
	                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [4];
            var dtModule = '<%= data.module %>';
            var ckActive = true;
            var ckField = 'deskripsi';
            CKEDITOR.replace('deskripsi', {});
            $(document).ready(function(){
                $('a#gambar').fancybox({
                    padding : 0,
                    openEffect  : 'elastic'
                });
            });
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

        <script type="text/javascript">
            function get_sel(){
                return $('#contentDetail');
            }
            function set_loading(){
                get_sel().html('<center><img src="/resources/loading.gif" width="70px" /></center>');

            }
            function select_row(th){
                $(th).closest('table').find('td').css('background-color', '#fff');
                $(th).closest('tr').find('td').css('background-color', '#eee');
            }
            function get_detail(id, th){
                set_loading();
                if(th!=undefined)
                    select_row(th);
                $.get(location.href + '/detail/' + id, function(res){
                    get_sel().html(res);
                });
            }
            function action_kuisioner_status(th){
                var fm = $('#kuisStatus');
                fm.modal('show');
                var id = $(th).data('id');
                var status = $(th).data('status');
                $('#kuisStatus').find('#bClose').text('Close');
                $('#kuisStatus').find('#bLock').text('Lock');
                $('#kuisStatus').find('#bOpen').text('Open');
                $('#kuisStatus').find('#tid').val(id);
                if(status=='close')
                	$('#kuisStatus').find('#bClose').prepend('<span class="fa fa-check"></span> ');
                if(status=='open')
                	$('#kuisStatus').find('#bOpen').prepend('<span class="fa fa-check"></span> ');
                if(status=='lock')
                	$('#kuisStatus').find('#bLock').prepend('<span class="fa fa-check"></span> ');
            }
            
            $('#kuisStatus').on('shown.bs.modal', function (e) {
                var b = $(e.relatedTarget);
            } );
        </script>

<%- include ../bottom.ejs %>