<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<br/>
                	<a class="btn btn-primary" href="/kuisioner"> <span class="fa fa-arrow-left"></span> Kembali</a>
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<div class="panel panel-default">
						<div class="panel-body form-horizontal">
							<div class="form-group">
								<label class="col-md-2">Judul</label><div class="col-md-10">: <%= kuisioner.judul %></div>
							</div>
							<div class="form-group">
								<label class="col-md-2">Deskripsi</label><div class="col-md-10">: <%- kuisioner.deskripsi %></div>
							</div>
							<div class="form-group">
								<label class="col-md-2">Status</label><div class="col-md-10">: <%= kuisioner.status %></div>
							</div>
						</div>
					</div>

					<div class="dataDetail">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>No</th>
									<th>Nomor Induk</th>
									<th>Nama</th>
									<th>Jenis Kelamin</th>
									<th>Angkatan</th>
									<th>Foto</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% 
									for(an in users){ 
										if(users[an]==undefined)
											continue;
								%>
								<tr>
									<td><%= (parseInt(an)+1) %></td>
									<td><%= users[an].ni %></td>
									<td><%= users[an].name %></td>
									<td><%= users[an].gender=='lk' ? 'Pria':'Wanita' %></td>
									<td><%= (users[an].date_in!=null) ? users[an].date_in.getFullYear():'' %></td>
									<td><img src="profile/<%= users[an].photo %>" width="70px"/></td>
									<td align="center">
										<button class="btn btn-xs btn-primary" onclick="getDetailKuisioner('<%= kuisioner._id %>','<%= users[an].userRef %>')">tampilkan isian</button>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [];
            var dtModule = '<%= data.module %>';
            var ckActive = false;

            $(document).ready(function(){
                $('a#gambar').fancybox({
                    padding : 0,
                    openEffect  : 'elastic'
                });
            });

            function getDetailKuisioner(kuis, user){
            	$.get(dtModule + '/detail?kuisid=' + kuis +'&userid='+ user, function(res){
            		$('.dataDetail').html(res);
            	});
            }
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>