<br/>
<a class="btn btn-success btn-xs" href="<%= module %>?ids=<%= kuisid %>"> <span class="fa fa-arrow-left"></span> Kembali</a>
<br/>
<br/>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20px">No</th>
					<th>Kuisioner</th>
				</tr>
			</thead>
			<tbody>
		<% for(an in jawaban){ %>
			<tr>
				<td><%= (parseInt(an)+1) %></td>
				<td>
					<i><%= jawaban[an].pertanyaan %></i>
					<% if(jawaban[an].tipe=='choice'){ %>
					<p>
						<strong>pilihan: </strong> &nbsp; 
						<% for(ac in jawaban[an].choice){ %>
							<%- (jawaban[an].choice[ac].label==null && isNaN(parseInt(ac)) ) ? '': parseInt(ac)+1 + '). ' %>
							<%= jawaban[an].choice[ac].label %>
						<% } %>
					</p>
					<% } %>
					<p>
						<strong>jawaban: </strong> &nbsp;
						<%- (jawaban[an].tipe=='choice') ? jawaban[an].choiceValue:jawaban[an].textValue  %>
					</p>
				</td>
			</tr>
		<% } %>
			</tbody>
		</table>
