<h4>Detail Kuisioner</h4>

<table class="table-data table table-bordered" width="100%" id="table-detail-kuisioner">
	<thead> 
		<tr>
			<th width="10px">No</th>
			<th>Pertanyaan</th>
			<th>Tipe</th>
			<th>Opsi</th>   
			<th width="130px"></th>
		</tr>
	</thead>
	<tbody>
		<% for(an in data.data){ %>
			<tr>
				<td><%= (parseInt(an)+1) %></td>
				<td><%= data.data[an].pertanyaan %></td>
				<td><%= data.data[an].tipe %></td>
				<td>
                    <% data.data[an].choice.forEach(function(itm){ %>
                        <%= itm.label %>, 
                    <% }) %>
                </td>
				<td align="center">
                    <button class="btn btn-xs btn-default" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Duplikasi data" onclick="on_duplicate_data(this)"> <span class="fa fa-copy"></span> </button> &nbsp; 
					<button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#formDetail" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 
					<button class="btn btn-xs btn-danger" onclick="detail_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
				</td>
			</tr>
		<% } %>
	</tbody>
</table>


<button class="btn btn-primary" data-toggle="modal" data-target="#formDetail"> <span class="fa fa-plus"></span> Tambah</button>

<div class="modal fade" id="formDetail" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save_detail">
                <input type="hidden" name="id" />
				<input type="hidden" name="kuisionerRef" value="<%= data.kuisionerRef %>" />
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="formLabel">Tambah Data Pertanyaan</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-md-3">Pertanyaan</label>
						<div class="col-md-9">
							<input type="text" name="pertanyaan" placeholder="Pertayaan kuisioner" required="true" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3">Tipe</label>
						<div class="col-md-5">
    						<select class="form-control" name="tipe" onchange="on_tipe_change(this)">
                                <option value="text">Text</option>
                                <option value="choice">Pilihan</option>
                            </select>
						</div>
					</div>
                    <div class="form-group" id="pilihan" hidden>
                        <label class="col-md-3">Pilihan</label>
                        <div class="col-md-4" id="choice">
                            <input type="text" class="form-control" name="choice" />
                            <input type="text" class="form-control" name="choice" />
                            <input type="text" class="form-control" name="choice" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn-xs btn btn-default" type="button" title="Tambah pilihan" onclick="on_add_choice(this)"> <span class="fa fa-plus"></span> </button><br/>
                            <button class="btn-xs btn btn-default" type="button" title="Hapus pilihan" onclick="on_remove_choice(this)"> <span class="fa fa-minus"></span> </button><br/>
                        </div>
                    </div>
				</div>
    	       	<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
					<button type="button" class="btn btn-primary" onclick="submit_form(this)"> <span class="fa fa-save"></span> Simpan</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	function gs(){
		return $('#table-detail-kuisioner');
	}
    function gdf(){
        return $('#formDetail');
    }
    function gpi(){
        return $('#pilihan');
    }
    function gch(){
        return $('#choice');
    }
    function on_tipe_change(t){
        var v = $(t).val();
        if(v=='text')
            $('#pilihan').hide().find('input').attr('disabled','true');
        else
            $('#pilihan').show().find('input').removeAttr('disabled');
    }
    function on_add_choice(t){
        $('#pilihan').find('#choice').append('<input type="text" class="form-control" name="choice" />');
    }
    function on_remove_choice(t){
        $('#pilihan').find('#choice').find('input:last').remove();
    }
    function bind_form(){
        gdf().on('shown.bs.modal', function (e) {
            var b = $(e.relatedTarget);
            var detail = b.data('detail');
            if(detail!=null){
                gdf().find('input[name=pertanyaan]').val(detail['pertanyaan']);
                gdf().find('select[name=tipe]').val(detail['tipe']);
                gdf().find('input[name=id]').val(detail['_id']);
                if(detail['tipe']=='text'){
                    gpi().hide();
                }else{
                    gpi().show();
                    gch().html('');
                    var ch = detail['choice'];
                    if(Array.isArray(ch)){
                        ch.forEach(function(m){
                            gch().append('<input type="text" class="form-control" name="choice" value="' +m.label+ '" />');
                        });
                    }
                }
                gdf().find('form').attr('action', dtModule + '/update_detail');
            }else{
                gdf().find('input[name=id]').val('');
                gdf().find('form').attr('action', dtModule + '/save_detail');
            }
        } );
    }
    function detail_delete(th){
        var data = $(th).data('detail');
        data = (data!=null) ? data:{};
        Modal.confirm('Confirmation', 'Yakin akan dihapus ?', 'Batal', 'Hapus', data, 'detail_do_post(this)', 'danger');
    }
    function detail_do_post(th){
        Modal.hide();
        var data = $(th).data('info');
        Modal.hide();
        $.post(dtModule + '/delete_detail', {id:data._id}, function(res){
            $('body').removeClass('modal-open'); 
            $('.modal-backdrop').remove();
            get_detail(data.kuisionerRef);
        });
    }
    function submit_form(th){
        var fo = $(th).closest('form');
        var fdata = fo.serialize();
        var act = fo.attr('action');
        $.post(act, fdata, function(res){
            gdf().modal('hide'); 
            $('body').removeClass('modal-open'); 
            $('.modal-backdrop').remove();
            get_detail('<%= data.kuisionerRef %>');
        });
    }
    function on_duplicate_data(th){
        var data = $(th).data('detail');
        $.post(dtModule + '/duplicate_detail', {id:data._id}, function(res){
            $('body').removeClass('modal-open'); 
            $('.modal-backdrop').remove();
            get_detail(data.kuisionerRef);
        });
    }
	$(document).ready(function(){
		activate_datatable(gs(), 4);
        bind_form();
	});
</script>