<%- include ../top.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="10px">No</th>
                                <th>Kode</th>
                                <th>Nama Matakuliah</th>
                                <th>SKS</th>
                                <th>Pengajar</th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td><%= data.data[an].kode %></td>
                                    <td>
                                        <%= data.data[an].matakuliah %>
                                        <% if(data.data[an].gambar){ %>
                                        <a id="gambar" href="matkul/<%= data.data[an].gambar %>"><img src="matkul/<%= data.data[an].gambar %>" style="float:right;height: 70px;"/></a>
                                        <% } %>
                                    </td>
                                    <td><%= data.data[an].sks %></td>
                                    <td><%= data.data[an].nama_dosen %></td>
                                    <td align="center">
                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 
                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save" enctype="multipart/form-data">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Kode</label>
                                <div class="col-md-5">
                                    <input type="text" name="kode" value="" class="form-control" placeholder="Kode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Matakuliah</label>
                                <div class="col-md-9">
                                    <input type="text" name="matakuliah" value="" class="form-control" placeholder="Matakuliah" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">SKS</label>
                                <div class="col-md-5">
                                    <input type="text" name="sks" value="" class="form-control" placeholder="Jumlah SKS" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Dosen</label>
                                <div class="col-md-9">
                                    <select name="dosenRef" class="form-control" placeholder="Kode">
                                        <% for(fi in data.dosen){ %>
                                        <option value="<%= data.dosen[fi]._id %>"><%= data.dosen[fi].ni +' - '+ data.dosen[fi].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Image</label>
                                <div class="col-md-9">
                                    <input type="file" name="gambar" placeholder="Image" class="form-control" accept="images/*" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            var dtDisableSort = [5];
            var dtModule = '<%= data.module %>';
            $(document).ready(function(){
                $('a#gambar').fancybox({
                    padding : 0,
                    openEffect  : 'elastic'
                });
            });
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>