<%- include ../top.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

	                <!-- <form>
	                	<div class="panel panel-default">
							<div class="panel-heading">Update user</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-3">Username</label>
									<div class="col-md-7">
										<
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<button>Simpan</button>
							</div>
						</div>
					</form> -->

                </div>
            </div>
        </div>

<%- include ../bottom.ejs %>