<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th width="10px">No</th>
                                <th>Judul</th>
                                <th>Rincian</th>
                                <!-- <th>Waktu</th>  -->  
                                <th>Divisi</th>
                                <th width="60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td>
                                        <%= data.data[an].timeline %>
                                        <% if(data.data[an].gambar){ %>
                                        <a id="gambar" href="tmline/<%= data.data[an].gambar %>"><img src="tmline/<%= data.data[an].gambar %>" style="float:right;height: 70px;"/></a>
                                        <% } %>
                                    </td>
                                    <td>
                                        <%- shorten(data.data[an].html_detail, 50) %> ... 
                                        <button class="btn btn-default btn-xs" onclick="_show_detail(this)">
                                            ...
                                            <div style="display:none" id="rowContent">
                                            <%- data.data[an].html_detail %>
                                            </div>
                                        </button>
                                    </td>
                                    <!-- <td><%= data.data[an].awal %>
                                        <% if(data.data[an].akhir!=null && data.data[an].akhir.length>0){ %>
                                         sampai dengan <%= data.data[an].akhir %>
                                        <% } %>
                                    </td> -->
                                    <td><%= data.data[an].divisi %></td>
                                    <td align="center">
                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 
                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:80%">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save" enctype="multipart/form-data">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Judul</label>
                                <div class="col-md-9">
                                    <input type="text" name="timeline" placeholder="Judul " required="true" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Detail</label>
                                <div class="col-md-9">
                                    <textarea name="detail" placeholder="Detail timeline" class="form-control"></textarea>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-md-3">Tanggal</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control" name="awal" placeholder="Tanggal mulai" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Sampai dengan</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" class="form-control" name="akhir" placeholder="Tanggal selesai" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>   -->
                            <div class="form-group">
                                <label class="col-md-3">Divisi</label>
                                <div class="col-md-9">
                                    <input type="text" name="divisi" placeholder="Divisi" required="true" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Image</label>
                                <div class="col-md-9">
                                    <input type="file" name="gambar" placeholder="Image" class="form-control" accept="images/*" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [5];
            var dtModule = '<%= data.module %>';
            var ckActive = true;
            var ckField = 'detail';
            CKEDITOR.replace('detail', {});
            $(document).ready(function(){
                $('a#gambar').fancybox({
                    padding : 0,
                    openEffect  : 'elastic'
                });
            });
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>