<%- include ../top.ejs %>
<% include functions.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-data table table-bordered" width="100%">
                        <thead> 
                            <tr>
                                <th width="10px">No</th>
                                <th>Nama Tugas</th>
                                <th>Deskripsi</th>
                                <th>Jenis</th>
                                <th>Matakuliah</th>
                                <th>Mulai</th>
                                <th>Selesai</th>
                                <th width="70px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(an in data.data){ %>
                                <tr>
                                    <td><%= (parseInt(an)+1) %></td>
                                    <td><%= data.data[an].judul %></td>
                                    <td>
                                        <%- shorten(data.data[an].html_rincian, 50) %> ... 
                                        <button class="btn btn-default btn-xs" onclick="_show_detail(this)">
                                            ...
                                            <div style="display:none" id="rowContent">
                                            <%- data.data[an].html_rincian %>
                                            </div>
                                        </button>
                                    </td>
                                    <td><%= data.data[an].jenis %></td>
                                    <td><%= data.data[an].matakuliah %> (<%= data.data[an].dosen %>)</td>
                                    <td><%= data.data[an].mulai %></td>
                                    <td><%= data.data[an].selesai %></td>
                                    <td align="center">
                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-detail='<%- JSON.stringify(data.data[an]) %>' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp; 
                                        <button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail='<%- JSON.stringify(data.data[an]) %>'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; 
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:80%">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Jenis tugas</label>
                                <div class="col-md-5">
                                    <select name="jenis" class="form-control" placeholder="Pilih hari">
                                        <option value="individu">Individu</option>
                                        <option value="kelompok">Kelompok</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Nama tugas</label>
                                <div class="col-md-9">
                                    <input type="text" name="judul" placeholder="Nama tugas" required="true" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Deskripsi</label>
                                <div class="col-md-9">
                                    <textarea name="rincian" placeholder="Deskripsi tugas" class="form-control" id="rincian"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Matakuliah</label>
                                <div class="col-md-9">
                                    <select name="matakuliahRef" class="form-control" placeholder="Matakuliah">
                                        <% for(fi in data.matakuliah){ %>
                                        <option value="<%= data.matakuliah[fi]._id %>"><%= data.matakuliah[fi].kode +' - '+ data.matakuliah[fi].matakuliah +' ('+ data.matakuliah[fi].dosen +')' %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Mulai</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control" name="mulai" placeholder="Tanggal penugasan" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Selesai</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" class="form-control" name="selesai" placeholder="Tanggal pengumpulan" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dtDisableSort = [7];
            var dtModule = '<%= data.module %>';
            var ckActive = true;
            var ckField = 'rincian';
            CKEDITOR.replace('rincian', {});
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>