<%- include ../top.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table-pengguna table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="10px">No</th>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Posisi</th>
                                <th>Foto</th>
                                <th>Status</th>
                                <th width="200px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#form"> <span class="fa fa-plus"></span> Tambah Data</button> &nbsp; 
                    <button class="btn btn-warning" onclick="doImport()" style="display: none"> <span class="fa fa-download"></span> Import Data</button> &nbsp; 
                </div>
            </div>
        </div>

        <form action="<%= data.module %>/import" method="post" style="display: none" enctype="multipart/form-data" id="formImport">
            <input type="file" name="berkas" required accept=".xls, .xlsx"  onchange="doSubmit()" />
        </form>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/save" enctype="multipart/form-data">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Tambah Data</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-3">Jenis User</label>
                                <div class="col-md-5">
                                    <select name="position" placeholder="Jenis user" required="true"  class="form-control">
                                        <option value="anggota">Mahasiswa</option>
                                        <option value="dosen">Dosen</option>
                                        <option value="tu">TU</option>
                                        <option value="alumni">Alumni</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Nomor Induk</label>
                                <div class="col-md-5">
                                    <input type="text" name="ni" placeholder="Nomor Induk" required="true"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Nama</label>
                                <div class="col-md-9">
                                    <input type="text" name="name" placeholder="Nama" required="true" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Jenis Kelamin</label>
                                <div class="col-md-5">
                                    <select name="gender" class="form-control">
                                        <option value="lk">Laki-laki</option>
                                        <option value="pr">Perempuan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Tempat Lahir</label>
                                <div class="col-md-9">
                                    <input type="text" name="place_birth" placeholder="Tempat Lahir" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Tanggal Lahir</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker3">
                                        <input type="text" class="form-control" name="date_birth" placeholder="Tanggal lahir" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Alamat</label>
                                <div class="col-md-9">
                                    <textarea name="address" placeholder="Alamat" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Email</label>
                                <div class="col-md-7">
                                    <input type="email" name="email" placeholder="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Telepon/Mobile</label>
                                <div class="col-md-7">
                                    <input type="text" name="phone" placeholder="Telepon/Mobile" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Tanggal Masuk</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control" name="date_in" placeholder="Tanggal masuk" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Tanggal Keluar</label>
                                <div class="col-md-5">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" class="form-control" name="date_out" placeholder="Tanggal keluar" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Photo</label>
                                <div class="col-md-9">
                                    <input type="file" name="photo" placeholder="Photo" class="form-control" accept="images/*" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="formAkun" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" class="form-horizontal" role="form" action="<%= data.module %>/account/update">
                        <input type="hidden" name="id" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="formLabel">Data Akun</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-4">Username</label>
                                <div class="col-md-8">
                                    <input type="text" name="username" placeholder="Username" required="true"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Password</label>
                                <div class="col-md-8">
                                    <input type="password" name="password1" placeholder="Password"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Confirm Password</label>
                                <div class="col-md-8">
                                    <input type="password" name="password2" placeholder="Confirm Password"  class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fa fa-remove"></span> Batal</button>
                            <button type="submit" class="btn btn-primary"> <span class="fa fa-save"></span> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <style type="text/css">
            .dt-center{
                text-align:center;
            }
        </style>
        
        <script type="text/javascript">
            var dtDisableSort = [4, 6];
            var dtModule = '<%= data.module %>';

            function doImport(){
                var sel = $('#formImport');
                sel.find('input[type=file]').trigger('click');
            }

            function doSubmit(){
                var sel = $('#formImport');
                sel.submit();
            }

            $(document).ready(function(){
                $.fn.dataTable.ext.errMode = 'throw';
                
                $('.table-pengguna').dataTable({
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [0,1,2,3,4,5,6] },
                        {"className": "dt-center", "targets": [3,4,5]},
                        {
                            "targets": [0],
                            "data": "nomor",
                            "render": function ( data, type, row, meta ) {
                                return data;
                            }
                        },
                        {
                            "targets": [1],
                            "data": "ni",
                            "render": function ( data, type, row, meta ) {
                                return data;
                            }
                        },
                        {
                            "targets": [2],
                            "data": "name",
                            "render": function ( data, type, row, meta ) {
                                return data;
                            }
                        },
                        {
                            "targets": [3],
                            "data": "position",
                            "render": function ( data, type, row, meta ) {
                                return data;
                            }
                        },
                        {
                            "targets": [4],
                            "data": "photo",
                            "render": function ( data, type, row, meta ) {
                                return '<img src="profile/' +data+ '" width="70px"/>';
                            }
                        },
                        {
                            "targets": [5],
                            "data": "status",
                            "render": function ( data, type, row, meta ) {
                                return data==false?'Tidak aktif':'Aktif';
                            }
                        },
                        {
                            "targets": [6],
                            "data": "ni",
                            "render": function ( data, type, row, meta ) {
                                return '<button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#form" data-detail=\''+ JSON.stringify(row) + '\' title="Edit data"> <span class="fa fa-edit"></span> </button> &nbsp;'
                                +   '<button class="btn btn-xs btn-danger" onclick="action_delete(this)" data-detail=\''+ JSON.stringify(row) + '\'  title="Hapus data"> <span class="fa fa-remove"></span> </button> &nbsp; '
                                +   '<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#formAkun" data-detail=\''+ JSON.stringify(row) + '\'  title="Data akun"> <span class="fa fa-user"></span> </button> &nbsp; '
                                +   '<button class="btn btn-xs btn-default" onclick="action_reset(this)" data-detail=\''+ JSON.stringify(row) + '\'  title="Reset akun"> reset </button>'
                                +   '<button class="btn btn-xs btn-default" onclick="action_disable(this)" data-detail=\''+ JSON.stringify(row) + '\'  title="Disable user"> ' + (row.status ? 'disable':'enable') + ' </button>';
                            }
                        }
                    ],
                    "aaSorting": [],
                    "sServerMethod": "POST",
                    "iDisplayLength": 10,
                    // "bJQueryUI": true,
                    "bRetrieve": true,
                    "bPaginate": true,
                    "bStateSave": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": "/data-pengguna/pengguna"
                    // "columns": [
                    //     { "data": "ni" },
                    //     { "data": "ni" },
                    //     { "data": "ni" },
                    //     { "data": "ni" },
                    //     { "data": "ni" },
                    //     { "data": "ni" },
                    //     { "data": "ni" }
                    // ]
                });
            });
        </script>
        <script type="text/javascript" src="resources/js/modules/modal.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/datatable.js?<%= data.random %>"></script>
        <script type="text/javascript" src="resources/js/modules/form.js?<%= data.random %>"></script>

<%- include ../bottom.ejs %>